<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Half-Life λ&sup3; Petition</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Special+Elite"
        />
        <link rel="stylesheet" href="/styles2.css" />
        <link rel="stylesheet" href="/css/{{css}}" />
        <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
    </head>
    <body>
        {{#if id}}
            <a href="/logout"><img id="logout-button" alt="logout" /></a>
            <a href="/edit-profile">
                <img id="edit-profile-button" alt="edit profile" />
            </a>
        {{/if}}
        <img id="gordon" />
        <main>
            {{{body}}}
        </main>
    </body>
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script src="/js/form.js"></script>
    <script src="/js/petition.js"></script>
    <script src="/js/signers.js"></script>
</html>