<h1>We want Half-Life λ&sup3; now!</h1>
<form id="petition-form" class="required-form" method="POST">
    <h2>{{first}} {{last}}</h2>
    <div id="signature-container">
        <label for="signature">Your Signature</label>
        <input id="signature" type="hidden" name="signature" />
    </div>
    <div id="canvas-container">
        <canvas id="signature-canvas"></canvas>
        <button id="clear-button" type="button">clear</button>
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
</form>

<button class="button" form="petition-form">Submit</button>