<h1>Tell us something about you! (Optional)</h1>
<form id="info-form" method="POST">
    <div id="age-container" class="input-container">
        <label for="age">Age</label>
        <input id="age" type="number" name="age" min="13" />
    </div>
    <div id="city-container" class="input-container">
        <label for="city">City</label>
        <input id="city" type="text" name="city" />
    </div>
    <div id="web-container" class="input-container">
        <label for="url">URL</label>
        <input id="url" type="text" name="url" />
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
</form>

<button class="button" form="info-form" type="reset">Skip</button>
<button class="button" form="info-form" type="submit">Submit</button>