<div id="signers">
    <ul>
        {{#each signers}}
            <li>{{this.first}} {{this.last}}</li>
        {{/each}}
        <li id="crowbar">Here's a Crowbar</li>
    </ul>
    <h3>Thank you!</h3>
</div>