<div id="thanks">
    <h1>Thank you!</h1>
    <p>A total of
        <strong>{{count}}</strong>
        people have signed this petition.</p>
    <p>Check out all the people who've signed <a href="/signers">here</a>.</p>
</div>