form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 300px;
    width: 400px;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 30px;
    color: white;
}

form > div {
    margin-bottom: 10px;
}

#signature-container {
    margin-top: 40px;
}

#canvas-container {
    display: flex;
    flex-direction: column;
}

#signature-canvas {
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 20px;
    cursor: url("./assets/pen.cur"), auto;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    touch-action: none;
}

#clear-button {
    background-color: rgba(255, 255, 255, 0.767);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-self: flex-end;
    margin-right: 15px;
    font-size: 13px;
    font-family: "Special Elite", serif;
}

.button {
    font-family: "Special Elite", serif;
    font-size: 20px;
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    form {
        width: 300px;
    }

    .input-container {
        width: 80%;
    }
}
