form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 300px;
    width: 400px;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 30px;
    color: white;
}

form > div {
    margin-bottom: 10px;
}

input {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.356);
    color: white;
    outline: none;
    border-radius: 10px;
}

.input-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    line-height: 25px;
}

.button {
    font-family: "Special Elite", serif;
    font-size: 20px;
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

h3 > a {
    color: darkorange;
}

@media screen and (max-width: 600px) {
    form {
        width: 300px;
    }

    .input-container {
        width: 80%;
    }
}
