#signers {
    height: 100vh;
    margin: 0 50px;
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

#signers > ul {
    padding: 0 10px;
    top: 400px;
    margin: 0;
    position: relative;
    list-style-type: none;
    z-index: 0;
}

#signers > ul > li {
    min-width: 240px;
    white-space: nowrap;
}

#signers > h3 {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
}

.off {
    visibility: hidden;
}

#crowbar {
    margin-top: 45vh;
}

@media screen and (max-width: 600px) {
    #signers > h3 {
        left: 50%;
        transform: translateX(-50%);
    }
}
