body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    background-image: url("./assets/city17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Special Elite", serif;
}

h1 {
    text-align: center;
    padding: 50px 0;
}

h3 {
    text-align: center;
    color: white;
}

#logout-button {
    content: url("/assets/logout.svg");
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
}

#edit-profile-button {
    content: url("/assets/user.png");
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50px;
    right: 10px;
}

#gordon {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
}

#logo {
    position: absolute;
    width: 60px;
    height: 40px;
    top: 0;
    left: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.required {
    border-color: rgba(255, 117, 4, 1) !important;
    border-style: solid;
}

a.button {
    text-decoration: none;
    cursor: default;
    color: black;
    padding: 13px 65px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

@media screen and (max-width: 900px) {
    body {
        background-position: center center;
    }
}

@media (pointer: none), (pointer: coarse) {
    #gordon {
        visibility: hidden;
    }
}
