body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    background-image: url("./assets/city17.jpg");
    background-size: cover;
    font-family: "Special Elite", serif;
}

h1 {
    text-align: center;
    padding: 50px 0;
}

h3 {
    color: white;
}

h3 > a {
    color: darkorange;
}

.error-message {
    color: darkorange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#logout-button {
    content: url("/assets/logout.svg");
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
}

#edit-profile-button {
    content: url("/assets/user.png");
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50px;
    right: 10px;
}

#gordon {
    content: url("/assets/gordon.png");
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 300px;
    padding: 30px 90px;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 30px;
    color: white;
}

input {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.356);
    color: white;
    outline: none;
    border-radius: 10px;
}

.input-container {
    margin-left: 20px;
    align-self: flex-start;
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 25px;
}

#signature-container {
    margin-top: 40px;
}

#canvas-container {
    display: flex;
    flex-direction: column;
}

#signature-canvas {
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 20px;
    cursor: url("./assets/pen.cur"), auto;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
}

.required {
    border-color: rgba(255, 117, 4, 1) !important;
    border-style: solid;
}

#clear-button {
    background-color: rgba(255, 255, 255, 0.767);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-self: flex-end;
    margin-right: 15px;
    font-size: 13px;
    font-family: "Special Elite", serif;
}

.button {
    font-family: "Special Elite", serif;
    font-size: 20px;
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

a.button {
    text-decoration: none;
    cursor: default;
    color: black;
    padding: 13px 65px;
}

#thanks > p {
    color: white;
}

#thanks > p > a {
    text-decoration: none;
    color: orange;
}

#user-signature {
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 30px;
}

#signers {
    height: 100vh;
    align-self: flex-end;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

#signers > ul {
    position: relative;
    z-index: 1;
    list-style-type: none;
    padding: 20px 100px;
    z-index: 0;
}

#signers > ul > li {
    white-space: nowrap;
}

#signers > h3 {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
}

#crowbar {
    visibility: hidden;
    margin-top: 45vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
